extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        a.btn.btn-default(href='/')
          | &nbsp; Sign in with Twitter &nbsp;
          i.fa.fa-twitter.fa-lg
      p
        a.btn.btn-info(href='/')
          | &nbsp; Sign in with Facebook &nbsp;
          i.fa.fa-facebook.fa-lg
  