doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    - each asset in assets.main.css
      link(rel='stylesheet', href= asset)
    
    //- Include our template specific functions
    include _includes/sharedHTMLfunctions
  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') Loc8r
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/about/') About
            if (loggedIn)
              li
                a(href='/profile/') Profile
          ul.nav.navbar-nav.navbar-right
            if (!loggedIn)
              li
                a(href='/signin/') Sign in
            else
              li
                a(href='/signout/') Sign out

    .container
      block content

      footer
        .row
          .col-xs-12
            small &copy; Loc8r 2014
    
      if (process.env.NODE_ENV === 'development')
        <!-- Livereload script rendered -->
        <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
      
      - each asset in assets.main.js
        script(src= asset)